@page "/AddAlarm"
@inject NavigationManager NavigationManager
@inject PriceAlarmService PriceAlarmSvc

<header class="d-flex">
    <h2>Alarme hinzufügen</h2>
    <button class="icon-lg bi bi-x" @onclick="Cancel"></button>
</header>

<form @onsubmit="Submit">
    <label for="fuelType">Spritsorte:</label>
    <select @bind="newAlarm.FuelType" id="fuelType" required>
        <option disabled selected>---Spritsorte wählen---</option>
        <option>E5</option>
        <option>Diesel</option>
    </select>
    <br />
    <label for="alarmPrice">Preis für Alarm (€):</label>
    <input @bind="newAlarm.TargetPrice" type="number" id="alarmPrice" step="0.01" min="0.01" required />
    <br />
    <button type="submit">Alarm hinzufügen</button>
</form>

@code
{
    PriceAlarm newAlarm = new PriceAlarm();

    private async Task Submit()
    {
        if (string.IsNullOrEmpty(newAlarm.FuelType) || newAlarm.TargetPrice == 0)
            return;

        await Permissions.RequestAsync<Permissions.PostNotifications>();
        await PriceAlarmSvc.SavePriceAlarmAsync(newAlarm);
        NavigationManager.NavigateTo("/");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}