@page "/"
@inject NavigationManager NavigationManager
@inject PriceAlarmService PriceAlarmSvc

<header class="d-flex">
    <h2>Aktive Alarme</h2>
    <button class="icon-lg bi bi-plus" @onclick="AddAlarm"></button>
</header>

@if (alarms != null)
{
    <div class="alarmcard-container">
        @foreach (var alarm in alarms)
        {
            <div class="alarmcard">
                <span>@alarm.FuelType.ToUpper()</span>
                <span>@alarm.TargetPrice €</span>
                <button disabled class="icon-md bi bi-pencil"></button>
                <button class="icon-md bi bi-trash" @onclick="async () => await DeleteAlarm(alarm)"></button>
            </div>
        }
    </div>
}

<footer>
    <button @onclick="NearbySearch">Umkreissuche</button>
</footer>

@code
{
    IEnumerable<PriceAlarm> alarms;

    protected override async Task OnInitializedAsync()
    {
        await Permissions.RequestAsync<Permissions.LocationAlways>();
        alarms = await PriceAlarmSvc.GetPriceAlarmsAsync();
        await base.OnInitializedAsync();
    }

    private async Task DeleteAlarm(PriceAlarm alarm)
    {
        await PriceAlarmSvc.DeletePriceAlarmAsync(alarm);
        alarms = await PriceAlarmSvc.GetPriceAlarmsAsync();
    }

    private void AddAlarm()
    {
        NavigationManager.NavigateTo("AddAlarm");
    }

    private void NearbySearch()
    {
        NavigationManager.NavigateTo("NearbySearch");
    }
}