@page "/"
@inject NavigationManager NavigationManager

<div class="row bg-primary text-white mt-5 pt-2 ps-2 pe-2">
    <div class="col pt-1 ps-3">
        <h1>Aktive Alarme</h1>
    </div>
    <div class="col col-auto">
        <button class="btn btn-light bi bi-plus-lg h-auto" @onclick="AddAlarm"></button>
    </div>
</div>

<div class="row m-3 bg-info p-1">
    <div class="col align-content-center">
        <span class="fs-4">Diesel</span>
    </div>
    <div class="col align-content-center">
        <span class="fs-4">1,60 €</span>
    </div>
    <div class="col col-auto p-1">
        <button class="btn btn-warning bi bi-pencil"></button>
    </div>
    <div class="col col-auto p-1">
        <button class="btn btn-danger bi bi-trash"></button>
    </div>
</div>
<div class="row m-3 bg-info p-1">
    <div class="col align-content-center">
        <span class="fs-4">Super E5</span>
    </div>
    <div class="col align-content-center">
        <span class="fs-4">1,70 €</span>
    </div>
    <div class="col col-auto p-1">
        <button class="btn btn-warning bi bi-pencil"></button>
    </div>
    <div class="col col-auto p-1">
        <button class="btn btn-danger bi bi-trash"></button>
    </div>
</div>

@code
{
    private void AddAlarm()
    {
        NavigationManager.NavigateTo("AddAlarm");
    }
}